.alert {
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  margin: 15px 0;
  width: fit-content;
  animation: fadeIn 0.4s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.alert-success {
  background-color: #e8f8ee;
  color: #1e7a36;
  border: 1px solid #b4e0c1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.btn-editar {
  color: #1e88e5;
  text-decoration: none;
  margin-right: 8px;
}

.btn-excluir {
  color: #e53935;
  text-decoration: none;
}

.btn-editar:hover {
  color: #1565c0;
}

.btn-excluir:hover {
  color: #b71c1c;
}
